{%- assign products = collection.products | default: collection.items -%}

{%- if products == blank and search_results -%}
  {%- assign products = search_results.items | where: "object_type", "product" -%}
{%- endif -%}

<div class="bg-gray-50 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-5 rounded-b-md">

  {% for product in products %}
    {% if product.object_type == 'product' or product.object_type == nil %}
      {% render 'product-card', product: product %}
    {% endif %}
  {% endfor %}

  <!-- Paginación -->
  {% if paginate.pages > 1 %}
    <div class="flex justify-center mt-10 space-x-2">
      {% if paginate.previous %}
        <a href="{{ paginate.previous.url }}" class="px-4 py-2 border rounded hover:bg-gray-100">Anterior</a>
      {% endif %}

      {% for part in paginate.parts %}
        {% if part.is_link %}
          <a href="{{ part.url }}" class="px-3 py-1 border rounded hover:bg-gray-100">{{ part.title }}</a>
        {% elsif part.title == paginate.current_page %}
          <span class="px-3 py-1 border rounded bg-gray-800 text-white">{{ part.title }}</span>
        {% else %}
          <span class="px-3 py-1">{{ part.title }}</span>
        {% endif %}
      {% endfor %}

      {% if paginate.next %}
        <a href="{{ paginate.next.url }}" class="px-4 py-2 border rounded hover:bg-gray-100">Siguiente</a>
      {% endif %}
    </div>
  {% endif %}
</div>
