<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    <script src="{{ 'flowbite.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'predictive-search.js'  | asset_url }}" defer="defer"></script>
    <script src="{{ 'custom-slider.js' | asset_url }}" defer></script>
    

    {{ 'predictive-search.js' | asset_url | stylesheet_tag }}
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
    
  </head>
  
  <body>
      {% section 'header' %}
      {{ content_for_layout }}
  </body>

</html>
