{% schema %}
{
  "name": "All Categories",
  "tag": "section",
  "class": "shopify-section--all-categories",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Título",
      "default": "Categorías"
    },
    {
      "type": "collection_list",
      "id": "collections_to_show",
      "label": "Colecciones a mostrar",
      "limit": 20
    }
  ]
}
{% endschema %}
{% assign collection_list = section.settings.collections_to_show %}


<h2 class=" text-2xl font-semibold text-start mb-4 text-gray-900 dark:text-white mt-4" >{{section.settings.section_heading}}</h2>


{% if collection_list != blank %}
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {% for collection in collection_list %}
      <div class="border rounded p-4 text-center">
        <a href="{{ collection.url }}">
          {% if collection.image %}
            <img src="{{ collection.image | image_url: width: 400 }}" alt="{{ collection.title }}" class="mx-auto mb-2">
          {% endif %}
          <h3 class="text-lg font-semibold">{{ collection.title }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No hay colecciones para mostrar.</p>
{% endif %}
