


<header class="fixed top-0 z-50 left-0 w-full border-b border-gray-200 shadow-bottom  site-header">
  <div class="bg-brand-color text-white text-center">
    {% render 'email-announcement' %}
  </div>
 
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center  mx-auto p-4 ">

       <a href="{{ routes.root_url }}" class="flex items-center m-auto sm:m-0 rtl:space-x-reverse ">
          {% if settings.logo != blank %}
            <img src="{{ settings.logo | image_url: width: 300 }}" class="h-24 w-24"  alt="{{ shop.name }} "width="300" height="300" />
          {% else %}
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"> {{ shop.name }}</span>
          {% endif %}
        </a>

      
        <div class="flex w-full md:order-1 md:w-1/2 mr-4">
           
        <!-- Formulario de búsqueda visible en desktop -->
        <form id="predictive-search-form" action="/search" method="get" role="search" class="relative  md:block w-full">
          <label for="search-navbar" class="sr-only">Buscar productos</label>
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
            <span class="sr-only">Icono de búsqueda</span>
          </div>
          <input
            id="predictive-search-input"
            type="search"
            name="q"
            autocomplete="off"
            placeholder="Busca tus productos"
            class="border-none focus:ring-[var(--brand-color)] border-search-brand block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
          />
          <div
            id="predictive-search-results"
            class="absolute z-50 w-full mt-2 bg-white border border-gray-200 rounded-lg shadow-lg hidden"
          ></div>

        </form>
        
        <!-- Botón del menú en móvil -->
        <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center  p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-search" aria-expanded="false">
          <span class="sr-only">Abrir menú principal</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>

      </div>

      {% if settings.announcement_image != blank %}
        <img src="{{ settings.announcement_image | image_url: width: 300 }}" class=" hidden md:block md:order-3 rounded-xl border-search-brand"  alt="{{ shop.name }} "width="300" height="300" />
      {% else %}
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white hidden  md:block md:order-3">espacio para imagen</span>
      {% endif %}


      <div class="items-center justify-between  hidden w-full md:flex md:w-auto md:order-4" id="navbar-search">
        
        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          {% for link in linklists.main-menu.links %}
            <li class="custom-css">
              {% if link.links != blank %}
                {%- assign dropdown_id = "dropdown-" | append: forloop.index -%}
                <button 
                  id="{{ dropdown_id }}-button" 
                  data-dropdown-toggle="{{ dropdown_id }}" 
                  class="color-text-brand focus:ring-0 focus:outline-none  font-medium rounded-lg text-sm px-5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  type="button">
                  {{ link.title }}
                  <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
                </button>

                <!-- Dropdown menu -->
                <div id="{{ dropdown_id }}" class="z-10 hidden  bg-white divide-y divide-gray-100 rounded-lg shadow-xl w-44 dark:bg-gray-700">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="{{ dropdown_id }}-button">
                    {% for sublink in link.links %}
                      {% if sublink.links != blank %}
                        {%- assign sub_dropdown_id = dropdown_id | append: "-sub-" | append: forloop.index -%}
                        <li>
                          <button 
                            id="{{ sub_dropdown_id }}-button"
                            data-dropdown-toggle="{{ sub_dropdown_id }}"
                            data-dropdown-placement="right-start"
                            type="button"
                            class="flex items-center justify-between w-full px-4 py-2 hover:bg-red-200 dark:hover:bg-gray-600 dark:hover:text-white">
                            {{ sublink.title }}
                            <svg class="w-2.5 h-2.5 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                          </button>

                          <!-- Sub-dropdown -->
                          <div id="{{ sub_dropdown_id }}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="{{ sub_dropdown_id }}-button">
                              {% for subSublink in sublink.links %}
                                <li>
                                  <a href="{{ subSublink.url }}" class="block px-4 py-2 hover:bg-red-200 dark:hover:bg-gray-600 dark:hover:text-white">
                                    {{ subSublink.title }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </li>
                        
                      {% else %}
                        <li>
                          <a href="{{ sublink.url }}" class="block px-4 py-2 hover:bg-red-200 dark:hover:bg-gray-600 dark:hover:text-white">
                            {{ sublink.title }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                
              {% else %}
                <a 
                  href="{{ link.url }}" 
                  class=" flex py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent hover:text-[var(--brand-color)] md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ link.title }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
          
          <a href="/cart" class="relative">
            🛒
            <span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs rounded-full px-1">
              {{ cart.item_count }}
            </span>
          </a>
          
        </ul>

      </div>
    </div>
  </nav>

</header>

{% comment %}
  custom css for navbar (descargas-ml)
{% endcomment %}

<style>
  
  ul .custom-css:nth-of-type(7) {
    position: relative;
  }

  ul .custom-css:nth-of-type(7)::after {
    content: '';
    position: absolute;
    top: 0.1em;
    right: -0.8em;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    background-color: var(--brand-color);
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes ping {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  ul .custom-css:nth-of-type(8){
		background: #ff0;
		padding: 5px;
		border-radius: 10px;
		background-size: cover;
		background-position: center;
		box-shadow: 0 2px 10px #f0c000;
	}

</style>