<section class="bg-white py-8 antialiased md:py-16 p-5">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl">Carrito de compras</h2>

    {% if cart.item_count > 0 %}
      <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
        <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
          <div class="space-y-6">

            {% for item in cart.items %}

                <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm md:p-6">
                    <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">

                    <a href="{{ item.url }}" class="shrink-0 md:order-1">
                        <img width="100" height="100" class="h-20 w-20 object-cover" src="{{ item.image | image_url: width: 200 }}" alt="{{ item.title | escape }} ">
                    </a>

                    <div class="flex items-center justify-between md:order-3 md:justify-end">
                        <div class="flex items-center">
                          <button 
                            class="change-quantity-btn inline-flex h-5 w-5 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200"
                            data-key="{{ item.key }}"
                            data-quantity="{{ item.quantity | minus: 1 }}"
                            data-stock="{{ item.variant.inventory_quantity }}"
                          >
                            <svg class="h-2.5 w-2.5 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M1 1h16"/></svg>
                          </button>

                          <input type="text" readonly class="w-10 border-0 bg-transparent text-center text-sm font-medium text-gray-900" value="{{ item.quantity }}">

                          <button 
                            class="change-quantity-btn plus-button inline-flex h-5 w-5 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200"
                            data-key="{{ item.key }}"
                            data-quantity="{{ item.quantity | plus: 1 }}"
                            data-stock="{{ item.variant.inventory_quantity }}"
                          >
                            <svg class="h-2.5 w-2.5 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                          </button>
                        </div>

                        <div class="text-end md:order-4 md:w-32">
                          <p class="text-base font-bold text-gray-900">{{ item.final_line_price | money }}</p>
                        </div>
                    </div>

                    <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                        <a href="{{ item.url }}" class="text-base font-medium text-gray-900 hover:underline">
                          {{ item.product.title }}
                          {% if item.variant.title != 'Default Title' %}
                            - {{ item.variant.title }}
                          {% endif %}
                        </a>

                        <button 
                          type="button" 
                          class="remove-item-btn inline-flex items-center text-sm font-medium text-red-600 hover:underline"
                          data-key="{{ item.key }}"
                        >
                          <svg class="me-1.5 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
                          Remove
                        </button>
                    </div>
                    </div>
                </div>
            {% endfor %}

          </div>
        </div>

        <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
          <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm sm:p-6">

            <div class="space-y-4">
              <div class="flex items-center justify-between gap-4 border-t pt-2">
                <span class="text-base font-bold text-gray-900 ">Total</span>
                <span class="text-base font-bold text-gray-900">{{ cart.total_price | money }}</span>
              </div>
            </div>

            <form method="post" action="/checkout">
              <button type="submit" class="w-full bg-brand-color rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300">
                Pagar pedido
              </button>
            </form>

            <div class="flex items-center justify-center gap-2">
              <a href="{{ routes.root_url }}" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">
                continuar comprando
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" /></svg>
              </a>
            </div>

          </div>
        </div>
      </div>
    {% else %}
      <p class="text-gray-700  mt-8">Tu carrito esta vacio.</p>
      <a href="{{ routes.root_url }}" class="text-primary-600 hover:underline">Regresar</a>
    {% endif %}
  </div>
</section>

<script>
  async function changeCartQuantity(key, quantity, stock = null) {
    if (quantity < 0) return;
    if (stock !== null && quantity > stock) {

      return;
    }

    const body = JSON.stringify({ id: key, quantity });

    const response = await fetch('/cart/change.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
      body
    });

    if (response.ok) {
      location.reload();
    } else {
      console.error('Error al actualizar carrito');
    }
  }

  document.querySelectorAll('.change-quantity-btn').forEach(button => {
    button.addEventListener('click', () => {
      const key = button.getAttribute('data-key');
      const quantity = parseInt(button.getAttribute('data-quantity'));
      const stock = parseInt(button.getAttribute('data-stock'));
      changeCartQuantity(key, quantity, stock);
    });
  });

  document.querySelectorAll('.remove-item-btn').forEach(button => {
    button.addEventListener('click', () => {
      const key = button.getAttribute('data-key');
      changeCartQuantity(key, 0);
    });
  });
</script>
