{% schema %}
{
  "name": "Producto destacado",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Selecciona un producto"
    },
    {
    "type": "text",
    "id": "handles",
    "label": "Handles de productos (separados por comas)",
    "info": "Ejemplo: producto-1,producto-2,producto-3",
    "default": "centrifuga-digital-4000rpm-12x15ml-jf-lhabo,colorimetro-digital-portatil-jf-lhabo,balanza-analizadora-de-humedad-ohaus,espectrofotometro-digital-jf-lhabo-jf721s,espectrofotometro-visible-digital-sp-v1000-kelve,espectrofotometro-uv-visible-sp-uv1000-kelve,microscopio-binocular-cxl-halogeno-labomed,micropipeta-autoclavble-10-100-ul-jf-lhabo,micropipeta-autoclavable-20-200-ul-jf-lhabo,micropipeta-autoclavable-100-1000-ul-jf-lhabo,micropipeta-autoclavable-2-10-ml-jf-lhabo,microscopio-biologico-cx23-olympus,microscopio-binocular-cxl-led-labomed,micropipeta-autoclavable-0-1-2-5-ul-jf-lhabo,micropipeta-autoclavable-2-20-ul-jf-lhabo,micropipeta-autoclavable-5-50-ul-jf-lhabo,balanza-analitica-calibracion-interna-220x-0001g-jf-lhabo,balanza-analitica-220x-0001g-jf-lhabo,bomba-de-vacio-para-equipo-de-filtracion-10l-jf-lhabo,termoagitador-120-x-120-mm-sh-2-jf-lhabo,espectrofotometro-uv-visible-modelo-jf-lhabo,espectrofotometro-digital-jf721-jf-lhabo,sp42-soporte-de-acrilico-para-pipetas-serologicas-42-orificios,sp32-soporte-de-acrilico-para-pipetas-serologicas-32-orificios,camara-de-neubauer-hematocitometro-linea-brillante-kelve,camara-de-neubauer-hematocitometro-linea-brillante-paq-c-2-kelve,balanza-digital-de-bolsillo-50g-0-001g-kelve,balanza-digital-de-bolsillo-200g-0-01g-kelve,microscopio-biologico-trinocular-cx33-olympus,microscopio-biologico-trinocular-cx43-olympus,microscopio-am2111-dino-lite,microscopio-dino-lite-am3111,balanza-analitica-calibracion-externa-220x-0001g-jf-lhabo-1,foco-led-p-microscopio-1w-6v,balanza-portatil-uso-rudo-200g-0-01g,medidor-de-ph-mv-temp-jf-laren-220,medidor-de-ph-mv-temp-jf-laren-221,camara-digital-c-mount-3146100-16-mp-usb-3-0-atlas-labomed,microscopio-estereo-digital-4z-c-camar"
    
  },
  ],
  "presets": [
    {
      "name": "Producto destacado"
    }
  ]
}
{% endschema %}


{% if section.settings.product %}
  {%- assign handles = section.settings.handles | split: "," -%}

  {%- assign random_index = "now" | date: "%s" | modulo: handles.size -%}
  {%- assign random_handle = handles[random_index] | strip -%}
  {%- assign featured_product = all_products[random_handle] -%}

{% comment %}
  {% if featured_product %}
  <p>✅ Producto encontrado: {{ featured_product.title }}</p>
  {% else %}
    <p>❌ featured_product está vacío o no existe</p>
  {% endif %}
    
{% endcomment %}


<section class="bg-white dark:bg-gray-900 rounded-md  mt-4 p-5 ">
    <div class="grid max-w-screen-xl px-4 py-4 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Equipos con la mejor tecnologia</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">{{ featured_product.title }}</p>
            <a href="{{ featured_product.url }}" class="hidden md:inline-flex items-center bg-brand-color  justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Conocer
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        
        </div>
            <div class="lg:mt-0 lg:col-span-5 lg:flex">
            {% if featured_product.featured_image %}
            <img src="{{ featured_product.featured_image | image_url: width: 600 }}" alt="{{ featured_product.title }}">
            {% endif %}
        </div>   
        
        <a href="{{ featured_product.url }}" class="inline-flex md:hidden items-center bg-brand-color  justify-center px-5 py-3 mr-3 mt-2 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Conocer
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>          
    </div>
</section>

{% endif %}

